# .gitignore 파일 자체 무시
.gitignore

# pintos-kaist/threads/build 폴더와 그 하위 모든 파일, 폴더 무시
pintos-kaist/threads/build/


# Pintos 빌드 중간 파일 및 산출물
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

# 빌드 디렉터리
/build/
/bin/
/obj/
/output/


# core dump
core

# 임시 파일
*~
*.swp

# macOS
.DS_Store